[submodule "libs/hqx"]
	path = libs/hqx
	url = https://github.com/jflemer/hqx.git
[submodule "libs/NukedOPN2"]
	path = libs/NukedOPN2
	url = https://github.com/nukeykt/Nuked-OPN2.git
[submodule "libs/Musashi"]
	path = libs/Musashi
	url = https://github.com/kstenerud/Musashi.git
